<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Mediatek</title>
</head>
<body>
    <div class="top_bar">
        <h1 class="title">Mediatek</h1>
            <form class="top_search_bar" action="">
                <input class="top_search_bar" type="text">
                <button class="top_search_bar" type="submit">OK</button>
            </form>
        <div class="top_user_settings">
            <div class="top_user_initial">U</div>
        </div>
    </div>
    <div class="core">
        <div class="core_folder">
            <div class="folder">
                <div class="folder_name">nom_de_dossier_1</div>
                <div class="folder_last_update">10/10/2019</div>
            </div>
            <div class="folder">
                <div class="folder_name">nom_de_dossier_2</div>
                <div class="folder_last_update">5/5/2005</div>
            </div>
            <div class="folder">
                <div class="folder_name">nom_de_dossier_3</div>
                <div class="folder_last_update">18/02/1999</div>
            </div>
            <div class="folder">
                <div class="folder_name">nom_de_dossier_4</div>
                <div class="folder_last_update">25/11/2000</div>
            </div>
        </div>
    </div>
</body>