<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Mediatek</title>
</head>
<body>
    <div class="top_bar">
        <h1 class="title">Mediatek</h1>
            <form class="top_search_bar" action="">
                <input class="top_search_bar" type="text">
                <button class="top_search_bar" type="submit">OK</button>
            </form>
        <div class="top_user_settings">
            U
        </div>
    </div>
</body>