<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Mediatek</title>
</head>
<body>
    <div class="top_bar">
        <h1 class="title">Mediatek</h1>
    </div>
    <div class="login_body">
        <form class="login_form" action="" method="post">
            <div class="login_form_text">Login :</div>
            <input type="text" name="username" placeholder="Username" autofocus required><br>
            <div class="login_form_text">Password :</div>
            <input type="text" name="password" placeholder="Password" autofocus required><br>
            <div class="login_form_submit">
                    <a class="login_form_forgot" href="">forgot password</a>
                    <input type="submit" value="sign in">
            </div>
        </form>
    </div>
</body>
</html>